* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}
.columns {
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
@media (max-width:375px) {
  .columns {
    flex-direction: column;
  }
}
.column1 {
    width: 275px;
    height: 420px;
  background-color:hsl(31, 77%, 52%) ;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.column2 {
    width: 275px;
    height: 420px;
  background-color:hsl(184, 100%, 22%) ;
}
.column3 {
    width: 275px;
    height: 420px;
  background-color:hsl(179, 100%, 13%) ;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.circle1 {
  background-color:hsl(31, 77%, 52%) ;
  display: flex;
  margin: 30px;
}
.circle2 {
  background-color:hsl(184, 100%, 22%) ;
  display: flex;
  margin: 30px;
}
.circle3 {
  background-color:hsl(179, 100%, 13%) ;
  display: flex;
  margin: 30px;
}
.header1 {
  background-color:hsl(31, 77%, 52%) ;
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  letter-spacing: 1.1px;
  font-family: 'Big Shoulders Display', cursive;
  margin-left: 32px;

}
.header2 {
  background-color:hsl(184, 100%, 22%) ;
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  letter-spacing: 1.1px;
  font-family: 'Big Shoulders Display', cursive;
  margin-left: 32px;

}
.header3 {
  background-color:hsl(179, 100%, 13%) ;
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  letter-spacing: 1.1px;
  font-family: 'Big Shoulders Display', cursive;
  margin-left: 32px;
}
.parag1 {
  background-color:hsl(31, 77%, 52%) ;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  margin: 30px;
 
  
}
.parag2 {
  background-color:hsl(184, 100%, 22%) ;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  margin: 30px;
  
}
.parag3 {
  background-color:hsl(179, 100%, 13%) ;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  margin: 30px;
 
}
.bttn1 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 30px;
  width: 150px;
  font-size: 15px;
  padding: 15px;
 margin-left: 37px;
 margin-top: 25px;
 font-family: 'Lexend Deca', sans-serif;
}
.bttn1:hover{
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}
.bttn2 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 30px;
  width: 150px;
  font-size: 15px;
  padding: 15px;
 margin-left: 37px;
 margin-top: 25px;
 font-family: 'Lexend Deca', sans-serif;

}
.bttn2:hover{
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.bttn3 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 30px;
  width: 150px;
  font-size: 15px;
  padding: 15px;
 margin-left: 37px;
 margin-top: 25px;
 font-family: 'Lexend Deca', sans-serif;

}
.bttn3:hover{
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}
